* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

body {
    background-image: url("../images/retina_wood.png");
}

#main_header {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
    z-index: 1;
}

#header_container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.navbar {
    padding: 0;
    height: 100%;
}

.name {
    height: 100%;
    line-height: 80px;
    padding: 0 30px;
    background: #4aaaa5;
    margin: 0;
}

.name a {
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    background: #4aaaa5;
    text-decoration: none;
}

.nav-link {
    text-align: center;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #ffffff;
}

.nav a:hover {
    color: #ffffff;
    background: #4aaaa5;
}

.container h1 {
    padding-bottom: 30px;
    margin: 0;
    margin-bottom: 30px;
    color: #4aaaa5;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid #4aaaa5;
}

/* About Container */

.content_container {
    overflow: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.profile_img {
    float: left;
    border: 2px solid #4aaaa5;
    max-width: 30%;
    margin-right: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 30px;
}

.contact_submit {
    color: #ffffff;
    background: #4aaaa5;
}

.project {
    float:left;
    width: 250px;
    margin: 10px 30px 20px 0;
    padding: 0;
}

row {
    float: left;
}

.project img {
    width: 100%;
}

.project h3 {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

.project h3:hover {
    color: black;
    cursor: pointer;
}

footer {
    border-top: 8px solid #4aaaa5;
    background: #666666;
    text-align: center;
    line-height: 80px;
    color: #ffffff;
}

/* Media Queries */

@media (min-width: 576px) {
    .container {  
      max-width: 720px;
    }
    .content_container {
        margin-top: 110px;
        margin-bottom: 110px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .content_container {
        margin-top: 110px;
        margin-bottom: 110px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 960px;
    }
    .content_container {
        margin-top: 110px;
        margin-bottom: 110px;
    }
  }